

@font-face {
    font-family: Roboto-Light;
    src: url("fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-Thing;
    src: url("fonts/Roboto-Thing.ttf");
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#bodyDiv {
    border:0;
    background: url(wallpaper4.png) Black;
    background-size: cover;
    /*// font-family:OpenSans,'Myriad Pro';*/
    font-family: Roboto-Light;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#caption {
    font-family: Roboto-Light;
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: left;
    height: 80px;
    line-height: 80px;
    font-size: 80px;
    text-shadow: black 4px 0px,black -4px 0, black 4px 4px,black -4px 4px,black -4px -4px,black 4px -4px,black 0 4px,black 0 -4px,black 0 0 13px,black 0 0 13px,black 0 0 13px;
}
.slogan {
     font-family: Roboto-Light;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 50px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    font-size: 30px;     
}

.captionOfDiagram{
    font-family: Roboto-Light;
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: left;
    height: 60px;
    line-height: 60px;
    font-size: 60px;  
}

#CostumersAndProducts {
    width: 100%;
    height: 100%;
    color: white;
}

#Costumers {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 50px;
    text-align: center;
}

#Products {
    width: 50%;
    position: absolute;
    top: 35%;
    right: 50px;
    text-align: center;
}

#CountOfCostumers {
    height: 240px;
    line-height: 240px;
    font-size: 240px;
    text-shadow: black 4px 0px,black -4px 0, black 4px 4px,black -4px 4px,black -4px -4px,black 4px -4px,black 0 4px,black 0 -4px,black 0 0 15px,black 0 0 15px,black 0 0 15px;
}

#CountOfProducts {
    height: 240px;
    line-height: 240px;
    font-size: 240px;
    text-shadow: black 4px 0px,black -4px 0, black 4px 4px,black -4px 4px,black -4px -4px,black 4px -4px,black 0 4px,black 0 -4px,black 0 0 15px,black 0 0 15px,black 0 0 15px;
}

#CountOfCostumersCaption {
    line-height: 80px;
    font-size: 80px;
    text-shadow: black 4px 0px,black -4px 0, black 4px 4px,black -4px 4px,black -4px -4px,black 4px -4px,black 0 4px,black 0 -4px,black 0 0 13px,black 0 0 13px,black 0 0 13px;
}

#CountOfProductsCaption {
    line-height: 80px;
    font-size: 80px;
    text-shadow: black 4px 0px,black -4px 0, black 4px 4px,black -4px 4px,black -4px -4px,black 4px -4px,black 0 4px,black 0 -4px,black 0 0 13px,black 0 0 13px,black 0 0 13px;
}

.AcbAndSku{
    font-family: Roboto-Light;
    color: white;
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: left;
    height: 60px;
    line-height: 60px;
    font-size: 60px;  
}

#owl-example .item
{
    margin:0;
    background-color: rgb(48,48,48);
    height: 100vh;
    
}

#owl-example .item img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}


#owl-example .clickable {
    position: absolute;
    bottom: 10px;
    margin-left: 50px;
}

.itemOfDiagram{
  
  width:100%;
  height:100%;
 
 padding:150px 0px 65px 50px;
  z-index:999;
}

