

@font-face {
    font-family: Roboto-Thin;
    src: url("fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("fonts/Roboto-Light.ttf");
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#bodyDiv {
    border:0;
    background-image: url(wallpaper3.png);
    background-size: cover;
    /*// font-family:OpenSans,'Myriad Pro';*/
    font-family: Roboto-Thin;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#caption {
    font-family: Roboto-Thin;
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: left;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
    text-shadow: black 0 0 50px,black 0 0 100px,black 0 0 300px;
}
.slogan {
     font-family: Roboto-Thin;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 20px;
    text-align: right;
    height: 18px;
    line-height: 18px;
    font-size: 18px;     
}

.captionOfDiagram{
    font-family: Roboto-Thin;
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    font-size: 40px;  
}

#CostumersAndProducts {
    width: 100%;
    height: 100%;
    color: white;
}

#Costumers {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 70px;
    text-align: center;
}

#Products {
    width: 50%;
    position: absolute;
    top: 35%;
    right: 70px;
    text-align: center;
}

#CountOfCostumers {
    height: 240px;
    line-height: 240px;
    font-size: 240px;
    text-shadow: black 0 0 100px,black 0 0 300px; 
}

#CountOfProducts {
    height: 240px;
    line-height: 240px;
    font-size: 240px;
    text-shadow: black 0 0 100px,black 0 0 300px;
}

#CountOfCostumersCaption {
    line-height: 100px;
    font-size: 100px;
    text-shadow: black 0 0 50px,black 0 0 100px,black 0 0 300px;
}

#CountOfProductsCaption {
    line-height: 100px;
    font-size: 100px;
    text-shadow: black 0 0 50px, black 0 0 100px, black 0 0 300px;
}

.AcbAndSku{
    font-family: Roboto-Thin;
    color: white;
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    font-size: 40px;  
}

#owl-example .item{
    background-color: rgb(48,48,48);
}

#owl-example .item img {
    display: block;
    width: 100%;
    height: 100vh;
    opacity: 0;
}


#owl-example .clickable {
    position: absolute;
    bottom: 10px;
    margin-left: 30px;
}

.itemOfDiagram{
    width: 1500px;
  height: 700px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  z-index:999;
}

