<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="Sample/css/normalize.css" />
    <script src="jquery-2.1.4.min.js"></script>
    <link href="DashBoardStyle.css" rel="stylesheet" />
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="owl-carousel/owl.transitions.css" />
    <!--
    <link rel="stylesheet" href="owl.carousel2/assets/owl.carousel.css" />-->
    <!-- Default Theme -->
    <link rel="stylesheet" href="owl-carousel/owl.theme.css" />
    <!-- Include js plugin -->
    <script src="owl-carousel/owl.carousel.min.js"></script>
    
    <!--<script src="owl.carousel2/owl.carousel.js"></script>-->
    <script src="Chart.js-master/Chart.min.js"></script>
</head>
<body>

        <div id="bodyDiv">
            <div id="owl-example" class="owl-carousel">
                <div class="item" style="background: none">
                    <!--<div id="caption">
                        Сегодня
                    </div>-->
                    <div class="slogan" style="text-shadow: black 2px 0px,black -2px 0, black 2px 2px,black -2px 2px,black -2px -2px,black 2px -2px,black 0 2px,black 0 -2px,black 0 0 6px,black 0 0 6px,black 0 0 6px;">
                        Мы партнеры для магазинов, кафе, ресторанов
                    </div>
                    <div id="CostumersAndProducts">
                        <div id="Costumers">
                            <div id="CountOfCostumers">
                            </div>
                            <div id="CountOfCostumersCaption">
                                Сегодня<br /> мы обслужили <br /> торговых точек
                            </div>
                        </div>
                        <div id="Products">
                            <div id="CountOfProducts">
                            </div>
                            <div id="CountOfProductsCaption">
                                Отгрузили<br /> наименований<br /> продукции
                            </div>
                        </div>
                        <div id="Remains">
                            <div id="CountOfRemains">
                            </div>
                            <div id="CountOfRemainsCaption">
                                Можем отгружать<br /> наименований<br /> продукции
                            </div>
                        </div>
                    </div>
                    <!-- <img src="" data-thumb="" alt="" title="" />-->
                </div>
                <div class="item" style="background-color: rgb(48,48,48);">
                    <div class="captionOfDiagram">
                        Выполнение плана по сумме, %
                    </div>
                    <!--<div class="AcbAndSku" id="CountOfCostumersAll">
                    </div>-->
                    <div class="slogan">
                        Мы партнеры для магазинов, кафе, ресторанов
                    </div>
                    <div class="itemOfDiagram">
                        <canvas id="ChartOfSum"></canvas>
                    </div>
                    <div class="divOfHistory">
                        <ul class="sumHistory">
                        </ul>
                    </div>
                    <!--<img width="0" height="0" src="" data-thumb="" alt="" title="" />-->
                </div>
                <div class="item" style="background-color: rgb(48,48,48);">
                    <div class="captionOfDiagram">
                        Выполнение плана по клиентам, %
                    </div>
                    <!--<div class="AcbAndSku" id="CountOfCostumersAll">
        </div>-->
                    <div class="slogan">
                        Мы партнеры для магазинов, кафе, ресторанов
                    </div>
                    <div class="itemOfDiagram">
                        <canvas id="ChartOfVisits"></canvas>
                    </div>
                    <div class="divOfHistory">
                        <ul class="sumHistory"></ul>
                    </div>
                    <!--<img width="0" height="0" src="" data-thumb="" alt="" title="" />-->
                </div>
                <div class="item" style="background-color: rgb(48,48,48);">
                    <div class="captionOfDiagram">
                        Выполнение плана по MML, %
                    </div>
                    <!--<div class="AcbAndSku" id="CountOfCostumersAll">
        </div>-->
                    <div class="slogan">
                        Мы партнеры для магазинов, кафе, ресторанов
                    </div>
                    <div class="itemOfDiagram">
                        <canvas id="ChartOfMML"></canvas>
                    </div>
                    <div class="divOfHistory">
                        <ul class="sumHistory"></ul>
                    </div>
                    <!--<img width="0" height="0" src="" data-thumb="" alt="" title="" />-->
                </div>
                
                <div class="item">
                    <div class="captionOfDiagram">
                        Показатели за текущий день, %
                    </div>
                    <!--<div class="AcbAndSku" id="CountOfProductsAll">
                    </div>-->
                    <div class="slogan">
                        Мы партнеры для магазинов, кафе, ресторанов
                    </div>
                    <div class="itemOfDiagram">
                        <canvas id="ChartOfToday"></canvas>
                    </div>
                    <div class="divOfHistory">
                        <ul class="sumHistory"></ul>
                    </div>
                    <!-- <img width="0" height="0" src="" data-thumb="" alt="" title="" />-->
                </div>
                <div class="item">
                    <div class="captionOfDiagram">
                        Выполнение плана на текущий день, %
                    </div>
                    <div class="slogan">
                        Мы партнеры для магазинов, кафе, ресторанов
                    </div>
                    <div class="itemOfDiagram">
                        <canvas id="ChartOfTodayMonth"></canvas>
                    </div>
                    <div class="divOfHistory">
                        <ul class="sumHistory"></ul>
                    </div>
                    <!-- <img width="0" height="0" src="" data-thumb="" alt="" title="" />-->
                </div>
                <div class="item">
                    <div class="captionOfDiagram">
                        Выполнение общего плана, %
                    </div>
                    <div class="slogan">
                        Мы партнеры для магазинов, кафе, ресторанов
                    </div>
                    <div class="itemOfDiagram">
                        <canvas id="ChartOfFullMonth"></canvas>
                    </div>
                    <div class="divOfHistory">
                        <ul class="sumHistory"></ul>
                    </div>
                    <!-- <img width="0" height="0" src="" data-thumb="" alt="" title="" />-->
                </div>
                <div class="item">
                    <div class="captionOfDiagram">
                       Средние показатели выполнения плана, %
                    </div>
                    <div class="slogan">
                        Мы партнеры для магазинов, кафе, ресторанов
                    </div>
                    <div class="itemOfDiagram">
                        <canvas id="ChartOfFull"></canvas>
                    </div>
                    <div class="divOfHistory">
                        <ul class="sumHistory"></ul>
                    </div>
                    <!-- <img width="0" height="0" src="" data-thumb="" alt="" title="" />-->
                </div>
            </div>
        </div>
   
    <script type="text/javascript">

        //var DateMas = new Array;
        //var CostumersCountMas = new Array;
        //var ProductsCountMas = new Array;
        var AgentMas = new Array;
        var DateMas = new Array;
        var SumMas = new Array;
        var VisitsMas = new Array;
        var MMLMas = new Array;
        var SumDataMas = new Array;
        var VisitsDataMas = new Array;
        var MMLDataMas = new Array;
        var CostumersChart;
        var ProductsChart;
        var CountOfCostumersPre;
        var CountOfCostumersForRender;
        var CountOfCostumers;
        var CountOfProductsPre;
        var CountOfProductsForRender;
        var CountOfProducts;
        var owl;

        $(document).ready(function () {


            Chart.defaults.global.scaleFontColor = "#fff";
            Chart.defaults.global.scaleFontFamily = "'RobotoCondensed-Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'";
            Chart.defaults.global.tooltipFontFamily = "'RobotoCondensed-Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'";
            Chart.defaults.global.scaleFontSize = 25;
            Chart.defaults.global.tooltipFontSize = 27;
            Chart.defaults.global.animationSteps = 30;
            //Chart.defaults.global.tooltipTemplate = "<\%= value \%>";
            // String - Template string for single tooltips
            Chart.defaults.global.tooltipTemplate = "<%if (label){%><%=label%>: <%}%><%= value %>";

            // String - Template string for multiple tooltips
            Chart.defaults.global.multiTooltipTemplate = "<%= value %>%";
            //Chart.defaults.global.onAnimationComplete = function () {
            //    this.showTooltip(this.datasets[0].bars, true);
            //};
            //Chart.defaults.global.tooltipEvents = [];

            owl = $("#owl-example");

            owl.owlCarousel({

                navigation: false, // Show next and prev buttons
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                mouseDrag: false,
                stopOnHover: false,
                autoPlay: 1 * 60 * 1000,
                transitionStyle: "fadeUp",
                afterMove: function (elem) {
                    var currentItem = this.owl.currentItem;
                    switch (currentItem) {
                        case 0: {
                            this.stop();
                            setTimeout(owlPlay, 1 * 60 * 1000);
                            break;
                        }
                        case 1: {
                            //console.log(CountOfCostumersForRender, CountOfCostumers);
                            if (CountOfCostumersForRender === CountOfCostumers) {

                                try {
                                    SumChart.render();
                                    //console.log('renderCostumer');
                                } catch (err) {
                                    //console.log(err);
                                    SumChart = drawSum();
                                    //console.log('renderErrCostumers');
                                }
                            } else {
                                CountOfCostumersForRender = CountOfCostumers;
                                //console.log('drawCostumers');
                                SumChart = drawSum();
                            }
                            break;
                        }
                        case 2: {
                            //console.log(CountOfProductsForRender, CountOfProducts);
                            if (CountOfCostumersForRender === CountOfCostumers) {

                                try {
                                    VisitsChart.render();
                                    //console.log('renderProducts');
                                } catch (err) {
                                    //console.log(err);
                                    VisitsChart = drawVisits();
                                    //console.log('renderErrProducts');
                                }
                            } else {
                                CountOfCostumersForRender = CountOfCostumers;
                                //console.log('drawProducts');
                                VisitsChart = drawVisits();
                            }
                            break;
                        }
                        case 3: {
                            //console.log(CountOfProductsForRender, CountOfProducts);
                            if (CountOfCostumersForRender === CountOfCostumers) {

                                try {
                                    MMLChart.render();
                                    //console.log('renderProducts');
                                } catch (err) {
                                    //console.log(err);
                                    MMLChart = drawMML();
                                    //console.log('renderErrProducts');
                                }
                            } else {
                                CountOfCostumersForRender = CountOfCostumers;
                                //console.log('drawProducts');
                                MMLChart = drawMML();
                            }
                            break;
                        }
                        case 4: {
                            //console.log(CountOfProductsForRender, CountOfProducts);
                            if (CountOfCostumersForRender === CountOfCostumers) {

                                try {
                                    TodayChart.render();
                                    //console.log('renderProducts');
                                } catch (err) {
                                    //console.log(err);
                                    TodayChart = drawToday();
                                    //console.log('renderErrProducts');
                                }
                            } else {
                                CountOfCostumersForRender = CountOfCostumers;
                                //console.log('drawProducts');
                                TodayChart = drawToday();
                            }
                            break;
                        }
                        case 5: {
                            //console.log(CountOfProductsForRender, CountOfProducts);
                            if (CountOfCostumersForRender === CountOfCostumers) {

                                try {
                                    TodayMonthChart.render();
                                    //console.log('renderProducts');
                                } catch (err) {
                                    //console.log(err);
                                    TodayMonthChart = drawTodayMonth();
                                    //console.log('renderErrProducts');
                                }
                            } else {
                                CountOfCostumersForRender = CountOfCostumers;
                                //console.log('drawProducts');
                                TodayMonthChart = drawTodayMonth();
                            }
                            break;
                        }
                        case 6: {
                            //console.log(CountOfProductsForRender, CountOfProducts);
                            if (CountOfCostumersForRender === CountOfCostumers) {

                                try {
                                    FullMonthChart.render();
                                    //console.log('renderProducts');
                                } catch (err) {
                                    //console.log(err);
                                    FullMonthChart = drawFullMonth();
                                    //console.log('renderErrProducts');
                                }
                            } else {
                                CountOfCostumersForRender = CountOfCostumers;
                                //console.log('drawProducts');
                                FullMonthChart = drawFullMonth();
                            }
                            break;
                        }
                        case 7: {
                            //console.log(CountOfProductsForRender, CountOfProducts);
                            if (CountOfCostumersForRender === CountOfCostumers) {

                                try {
                                    FullChart.render();
                                    //console.log('renderProducts');
                                } catch (err) {
                                    //console.log(err);
                                    FullChart = drawFull();
                                    //console.log('renderErrProducts');
                                }
                            } else {
                                CountOfCostumersForRender = CountOfCostumers;
                                //console.log('drawProducts');
                                FullChart = drawFull();
                            }
                            break;
                        }

                    }

                }
            });


            $('#CountOfCostumers').text('0');
            $('#CountOfProducts').text('0');
            $('#CountOfRemains').text('0');

            func();
            setInterval(func, 1 * 60 * 1000);

            changeBackground();
            setInterval(changeBackground, 60 * 60 * 1000);

        });

        function owlPlay() {
            owl.trigger('owl.play', 1 * 60 * 1000);
        }

        function changeBackground() {

            RandomInt = randomInteger(3, 31);

            background = 'url(images/wallpaper' + RandomInt + '.png)'

            $('#bodyDiv').css('background-image', background);

        }

        function randomInteger(min, max) {
            var rand = min - 0.5 + Math.random() * (max - min + 1)
            rand = Math.round(rand);
            return rand;
        }


        function func() {
            // $("#CountOfCostumers").val("Значение");

            $.ajax({
                url: "dataCity.xml",
                dataType: "xml",
                cache: false,
                success: xmlParser
            });

        }


        function xmlParser(xml) {

            var TodayData = $(xml).find("CountOf").eq(0);

            CountOfCostumersPre = $("#CountOfCostumers").text();
            CountOfCostumers = TodayData.find("CountOfCostumers").text();


            //          if (CountOfCostumersPre!==CountOfCostumers){

            //             try {

            //                 CostumersChart.datasets[0].bars[2].value = CountOfCostumers;
            //
            //
            //                  CostumersChart.update();
            //                  console.log(CountOfCostumersPre,CountOfCostumers,'CostumersChart.update');
            //                  } catch (err) {
            //                    console.log(err);
            //                 }
            //            }

            $('#CountOfCostumers').text(CountOfCostumers);

            //$({ numberValue: CountOfCostumersPre }).animate({ numberValue: CountOfCostumers }, {
            //    duration: 8000,
            //    easing: 'linear',
            //    step: function () {
            //        $('#CountOfCostumers').text(Math.ceil(this.numberValue));
            //    }
            //});

            CountOfProductsPre = $("#CountOfProducts").text();
            CountOfProducts = TodayData.find("CountOfProducts").text();

            //            if (CountOfProductsPre!==CountOfProducts){
            //                try {
            //
            //                    ProductsChart.update();
            //                    console.log(CountOfProductsPre,CountOfProducts,'ProductsChart.update');
            //                } catch (err) {
            //                            console.log(err);
            //                }
            //            }

            $('#CountOfProducts').text(CountOfProducts);

            //$({ numberValue: CountOfProductsPre }).animate({ numberValue: CountOfProducts }, {
            //    duration: 8000,
            //    easing: 'linear',
            //    step: function () {
            //        $('#CountOfProducts').text(Math.ceil(this.numberValue));
            //    }
            //});

            var CountOfCostumersAll = TodayData.find("CountOfCostumersAll").text();
            $('#CountOfCostumersAll').text('Общая: ' + CountOfCostumersAll);
            var CountOfProductsAll = TodayData.find("CountOfProductsAll").text();
            $('#CountOfProductsAll').text('Общий: ' + CountOfProductsAll);

            CountOfRemainsPre = $("#CountOfRemains").text();
            CountOfRemains = CountOfProductsAll;

            $('#CountOfRemains').text(CountOfRemains);

            //$({ numberValue: CountOfRemainsPre }).animate({ numberValue: CountOfRemains }, {
            //    duration: 8000,
            //    easing: 'linear',
            //    step: function () {
            //        $('#CountOfRemains').text(Math.ceil(this.numberValue));
            //    }
            //});

           
            AgentMas = [];
            DateMas = [];
            SumDataMas = [];
            VisitsDataMas = [];
            MMLDataMas = [];
            TodayDataMas = [];
            TodayMonthDataMas = [];
            FullMonthDataMas = [];
            FullDataMas = [];

            //#F44336 Red
            //#9C27B0 Purple
            //#3F51B5 Indigo
            //#00BCD4 Cyan
            //#009688 Teal
            //#4CAF50 Green
            //#CDDC39 Lime
            //#FFEB3B Yellow
            //#FF9800 Orange

            var colorsMas = ['#F44336', '#9C27B0', '#FFEB3B', '#00BCD4'];

            var AgentNumber = 0;

            $('.sumHistory').find(".itemAgent").each(function () { $(this).remove(); });

            var DataForDiagram = $(xml).find("DataForDiagram").eq(0);

            DataForDiagram.find("Agent").each(function () {

                var Agent = $(this).attr('Name');
                AgentMas.push(Agent.split(" ")[0]);

                $(".sumHistory").append("<li class='itemAgent' ><span style='color:" + colorsMas[AgentNumber] + "'>●&nbsp&nbsp</span>" + Agent + "</li>");
            
                
                SumMas = [];
                VisitsMas = [];
                MMLMas = [];

                $(this).find("Period").each(function () {

                    var Period = $(this).text();
                    if ($.inArray(Period, DateMas) === -1)
                    DateMas.push(Period);

                });

                $(this).find("PersentOfSum").each(function () {

                    var SumForDiagram = $(this).text();
                    SumMas.push(+SumForDiagram);

                });

                $(this).find("PersentOfVisits").each(function () {

                    var VisitsForDiagram = $(this).text();
                    VisitsMas.push(+VisitsForDiagram);

                });

                $(this).find("PersentOfMML").each(function () {

                    var MMLForDiagram = $(this).text();
                    MMLMas.push(+MMLForDiagram);

                });

                var SumToday = 0;
                var VisitsToday = 0;
                var MMLToday = 0;

                $(this).find("PersentOfSumToday").each(function () {

                    var SumForDiagram = $(this).text();
                    SumToday = +SumForDiagram;

                });

                $(this).find("PersentOfVisitsToday").each(function () {

                    var VisitsForDiagram = $(this).text();
                    VisitsToday = +VisitsForDiagram;

                });

                $(this).find("PersentOfMMLToday").each(function () {

                    var MMLForDiagram = $(this).text();
                    MMLToday = +MMLForDiagram;

                });

                var SumFull = 0;
                var VisitsFull = 0;
                var MMLFull = 0;

                $(this).find("PersentOfSumFull").each(function () {

                    var SumForDiagram = $(this).text();
                    SumFull=+SumForDiagram;

                });

                $(this).find("PersentOfVisitsFull").each(function () {

                    var VisitsForDiagram = $(this).text();
                    VisitsFull=+VisitsForDiagram;

                });

                $(this).find("PersentOfMMLFull").each(function () {

                    var MMLForDiagram = $(this).text();
                    MMLFull=+MMLForDiagram;

                });

                var SumMonth = 0;
                var VisitsMonth = 0;
                var MMLMonth = 0;

                $(this).find("PersentOfSumMonth").each(function () {

                    var SumForDiagram = $(this).text();
                    SumMonth = +SumForDiagram;

                });

                $(this).find("PersentOfVisitsMonth").each(function () {

                    var VisitsForDiagram = $(this).text();
                    VisitsMonth = +VisitsForDiagram;

                });

                $(this).find("PersentOfMMLMonth").each(function () {

                    var MMLForDiagram = $(this).text();
                    MMLMonth = +MMLForDiagram;

                });

                objSumm = {
                    label: "My First dataset" + AgentNumber,
                    fillColor: "rgba(95,139,149,.0)",
                    strokeColor: colorsMas[AgentNumber],
                    highlightFill: "rgba(95,139,149,.75)",
                    highlightStroke: "rgba(95,139,149,1)",
                    pointColor: colorsMas[AgentNumber],
                    pointStrokeColor: colorsMas[AgentNumber],
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#fff",
                    data: SumMas
                };

                objVisits = {
                    label: "My First dataset" + AgentNumber,
                    fillColor: "rgba(95,139,149,.0)",
                    strokeColor: colorsMas[AgentNumber],
                    highlightFill: "rgba(95,139,149,.75)",
                    highlightStroke: "rgba(95,139,149,1)",
                    pointColor: colorsMas[AgentNumber],
                    pointStrokeColor: colorsMas[AgentNumber],
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#fff",
                    data: VisitsMas
                };

                objMML = {
                    label: "My First dataset" + AgentNumber,
                    fillColor: "rgba(95,139,149,.0)",
                    strokeColor: colorsMas[AgentNumber],
                    highlightFill: "rgba(95,139,149,.75)",
                    highlightStroke: "rgba(95,139,149,1)",
                    pointColor: colorsMas[AgentNumber],
                    pointStrokeColor: colorsMas[AgentNumber],
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#fff",
                    data: MMLMas
                };

                objToday = {
                    label: "My First dataset" + AgentNumber,
                    fillColor: colorsMas[AgentNumber],
                    strokeColor: colorsMas[AgentNumber],
                    highlightFill: colorsMas[AgentNumber],
                    highlightStroke: "#fff",
                    data: [SumToday, VisitsToday, MMLToday]
                };

                objTodayMonth = {
                    label: "My First dataset" + AgentNumber,
                    fillColor: colorsMas[AgentNumber],
                    strokeColor: colorsMas[AgentNumber],
                    highlightFill: colorsMas[AgentNumber],
                    highlightStroke: "#fff",
                    data: [SumFull, VisitsFull, MMLFull]
                };

                objFullMonth = {
                    label: "My First dataset" + AgentNumber,
                    fillColor: colorsMas[AgentNumber],
                    strokeColor: colorsMas[AgentNumber],
                    highlightFill: colorsMas[AgentNumber],
                    highlightStroke: "#fff",
                    data: [SumMonth, VisitsMonth, MMLMonth]
                };

                objFull = {
                    label: "My First dataset" + AgentNumber,
                    fillColor: colorsMas[AgentNumber],
                    strokeColor: colorsMas[AgentNumber],
                    highlightFill: colorsMas[AgentNumber],
                    highlightStroke: "#fff",
                    data: [Math.round((SumFull + VisitsFull + MMLFull) / 3), Math.round((SumMonth + VisitsMonth + MMLMonth) / 3)]
                };

                AgentNumber++;


                lengthOfDateMas=DateMas.length;

                lengthOfSumDataMas = SumDataMas.length; //количество торговых

                for (var k = 0; k < lengthOfSumDataMas; k++){
                    while (SumDataMas[k].data.length<lengthOfDateMas)
                    {
                        SumDataMas[k].data.push(0);
                    }
                    while (VisitsDataMas[k].data.length < lengthOfDateMas) {
                        VisitsDataMas[k].data.push(0);
                    }
                    while (MMLDataMas[k].data.length < lengthOfDateMas) {
                        MMLDataMas[k].data.push(0);
                    }
                }
    

                SumDataMas.push(objSumm);
                VisitsDataMas.push(objVisits);
                MMLDataMas.push(objMML);
                TodayDataMas.push(objToday);
                TodayMonthDataMas.push(objTodayMonth);
                FullMonthDataMas.push(objFullMonth);
                FullDataMas.push(objFull);

            });

            //DateMas.sort();

            //str.split("").reverse().join("");

            var str = "";

            console.log("было", DateMas);

            for (i = 0; i < DateMas.length; i++) {
                mas = DateMas[i].split(".");
                DateMas[i] = mas[1]+"."+mas[0];
            }
   
            //str = DateMas.join(" ");

            //str = str.split("").reverse().join("");


           // DateMas = str.split(" ");

            //DateMas.sort();

            console.log("было", SumDataMas);

            QuickSort(DateMas, 0, DateMas.length - 1);

            console.log("стало", DateMas);
            console.log("стало", SumDataMas);
            
            for (i = 0; i < DateMas.length; i++) {
                mas = DateMas[i].split(".");
                DateMas[i] = mas[1] + "." + mas[0];
            }


            console.log(AgentMas, DateMas, SumMas, VisitsMas, MMLMas, SumDataMas, VisitsDataMas, MMLDataMas, FullDataMas);

        }

        function QuickSort(A, p, r) {
            if (p < r) {
                var q = Partition(A, p, r);
                QuickSort(A, p, q);
                QuickSort(A, q + 1, r);
            }
        }
        function Partition(A, p, r) {
            var x = A[r];
            var i = p - 1;
            for (var j = p; j <= r ; j++) {
                if (A[j] <= x) {
                    i++;
                    var temp = A[i];
                    A[i] = A[j];
                    A[j] = temp;


                    for (var k = 0; k < SumDataMas.length; k++) {

                        var mas = SumDataMas[k].data;
                        var temp = mas[i];
                        mas[i] = mas[j];
                        mas[j] = temp;

                        var mas = VisitsDataMas[k].data;
                        var temp = mas[i];
                        mas[i] = mas[j];
                        mas[j] = temp;

                        var mas = MMLDataMas[k].data;
                        var temp = mas[i];
                        mas[i] = mas[j];
                        mas[j] = temp;

                    }

                }
            }
            return i < r ? i : i - 1;
        }


        function drawSum() {

            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#ChartOfSum").get(0).getContext("2d");

            // Chart.defaults.global.responsive = true;




            var Sun = 177;
            var Mon = 177;
            var Tue = 77;
            var Wed = 77;
            var Thur = 177;
            var Fr = 177;
            var Sat = 177;

           
            //var user = '{ "name": "Вася", "age": 35, "isAdmin": false, "friends": [0,1,2,3] }';

            //user = JSON.parse(user);

            //alert(user);






            var data = {
                labels: DateMas, //["Понедельник", "Вторник", "Среда", "Черверг", "Пятница", "Суббота"],
                datasets: SumDataMas
            };

            var myLineChart = new Chart(ctx).Line(data, {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,

                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(255,255,255,.08)",

                tooltipFillColor: "rgba(0,0,0,0.8)",

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,

                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,

                //Boolean - If there is a stroke on each bar
                barShowStroke: false,

                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,

                //Number - Spacing between each of the X value sets
                barValueSpacing: 27,

                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,

                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"




            });

            console.log(myLineChart.generateLegend());

            return myLineChart;
        }

        function drawVisits() {

            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#ChartOfVisits").get(0).getContext("2d");

            // Chart.defaults.global.responsive = true;




            var Sun = 177;
            var Mon = 177;
            var Tue = 77;
            var Wed = 77;
            var Thur = 177;
            var Fr = 177;
            var Sat = 177;


            //var user = '{ "name": "Вася", "age": 35, "isAdmin": false, "friends": [0,1,2,3] }';

            //user = JSON.parse(user);

            //alert(user);






            var data = {
                labels: DateMas, //["Понедельник", "Вторник", "Среда", "Черверг", "Пятница", "Суббота"],
                datasets: VisitsDataMas
            };

            var myLineChart = new Chart(ctx).Line(data, {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,

                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(255,255,255,.08)",

                tooltipFillColor: "rgba(0,0,0,0.8)",

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,

                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,

                //Boolean - If there is a stroke on each bar
                barShowStroke: false,

                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,

                //Number - Spacing between each of the X value sets
                barValueSpacing: 27,

                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,

                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"




            });

            console.log(myLineChart.generateLegend());

            return myLineChart;
        }

        function drawMML() {

            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#ChartOfMML").get(0).getContext("2d");

            // Chart.defaults.global.responsive = true;




            var Sun = 177;
            var Mon = 177;
            var Tue = 77;
            var Wed = 77;
            var Thur = 177;
            var Fr = 177;
            var Sat = 177;


            //var user = '{ "name": "Вася", "age": 35, "isAdmin": false, "friends": [0,1,2,3] }';

            //user = JSON.parse(user);

            //alert(user);






            var data = {
                labels: DateMas, //["Понедельник", "Вторник", "Среда", "Черверг", "Пятница", "Суббота"],
                datasets: MMLDataMas
            };

            var myLineChart = new Chart(ctx).Line(data, {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,

                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(255,255,255,.08)",

                tooltipFillColor: "rgba(0,0,0,0.8)",

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,

                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,

                //Boolean - If there is a stroke on each bar
                barShowStroke: false,

                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,

                //Number - Spacing between each of the X value sets
                barValueSpacing: 27,

                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,

                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"




            });

            console.log(myLineChart.generateLegend());

            return myLineChart;
        }

        function drawToday() {

            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#ChartOfToday").get(0).getContext("2d");

            // Chart.defaults.global.responsive = true;


            var Sun = 177;
            var Mon = 177;
            var Tue = 77;
            var Wed = 77;
            var Thur = 177;
            var Fr = 177;
            var Sat = 177;


            //var user = '{ "name": "Вася", "age": 35, "isAdmin": false, "friends": [0,1,2,3] }';

            //user = JSON.parse(user);

            //alert(user);






            var data = {
                labels: ["По сумме", "По клиентам", "По MML"],
                datasets: TodayDataMas
            };

            var myLineChart = new Chart(ctx).Bar(data, {

                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,

                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(255,255,255,.08)",

                tooltipFillColor: "rgba(0,0,0,0.8)",

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,

                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,

                //Boolean - If there is a stroke on each bar
                barShowStroke: true,

                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,

                //Number - Spacing between each of the X value sets
                barValueSpacing: 27,

                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,

                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"


            });

            console.log(myLineChart.generateLegend());

            return myLineChart;
        }

        function drawTodayMonth() {

            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#ChartOfTodayMonth").get(0).getContext("2d");

            // Chart.defaults.global.responsive = true;


            var Sun = 177;
            var Mon = 177;
            var Tue = 77;
            var Wed = 77;
            var Thur = 177;
            var Fr = 177;
            var Sat = 177;


            //var user = '{ "name": "Вася", "age": 35, "isAdmin": false, "friends": [0,1,2,3] }';

            //user = JSON.parse(user);

            //alert(user);


            var data = {
                labels: ["По сумме", "По клиентам", "По MML"],
                datasets: TodayMonthDataMas
            };

            var myLineChart = new Chart(ctx).Bar(data, {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,

                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(255,255,255,.08)",

                tooltipFillColor: "rgba(0,0,0,0.8)",

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,

                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,

                //Boolean - If there is a stroke on each bar
                barShowStroke: true,

                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,

                //Number - Spacing between each of the X value sets
                barValueSpacing: 27,

                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,

                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"


            });

            console.log(myLineChart.generateLegend());

            return myLineChart;
        }

        function drawFullMonth() {

            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#ChartOfFullMonth").get(0).getContext("2d");

            // Chart.defaults.global.responsive = true;


            var Sun = 177;
            var Mon = 177;
            var Tue = 77;
            var Wed = 77;
            var Thur = 177;
            var Fr = 177;
            var Sat = 177;


            //var user = '{ "name": "Вася", "age": 35, "isAdmin": false, "friends": [0,1,2,3] }';

            //user = JSON.parse(user);

            //alert(user);


            var data = {
                labels: ["По сумме", "По клиентам", "По MML"],
                datasets: FullMonthDataMas
            };

            var myLineChart = new Chart(ctx).Bar(data, {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,

                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(255,255,255,.08)",

                tooltipFillColor: "rgba(0,0,0,0.8)",

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,

                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,

                //Boolean - If there is a stroke on each bar
                barShowStroke: true,

                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,

                //Number - Spacing between each of the X value sets
                barValueSpacing: 27,

                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,

                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"


            });

            console.log(myLineChart.generateLegend());

            return myLineChart;
        }



        function drawFull() {

            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#ChartOfFull").get(0).getContext("2d");

            // Chart.defaults.global.responsive = true;


            var Sun = 177;
            var Mon = 177;
            var Tue = 77;
            var Wed = 77;
            var Thur = 177;
            var Fr = 177;
            var Sat = 177;


            //var user = '{ "name": "Вася", "age": 35, "isAdmin": false, "friends": [0,1,2,3] }';

            //user = JSON.parse(user);

            //alert(user);


            var data = {
                labels: ["На сегодня","От общего плана"],
                datasets: FullDataMas
            };

            var myLineChart = new Chart(ctx).Bar(data, {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,

                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(255,255,255,.08)",

                tooltipFillColor: "rgba(0,0,0,0.8)",

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,

                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,

                //Boolean - If there is a stroke on each bar
                barShowStroke: true,

                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,

                //Number - Spacing between each of the X value sets
                barValueSpacing: 50,

                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,

                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

            });

            console.log(myLineChart.generateLegend());

            return myLineChart;
        }



        $(window).resize(function () {

            //   sizeOfCanvas();

            //        CostumersChart.clear();
            //        ProductsChart.clear();
            //        CostumersChart.resize();
            //        ProductsChart.resize();
            //        CostumersChart.destroy();
            //        ProductsChart.destroy();
            //
            //        CostumersChart = drawCostumers();
            //        ProductsChart = drawProducts();

        });


        $(window).load(function () {
            sizeOfCanvas();
        });

        function sizeOfCanvas() {

            var widthOfCanvas = $('.itemOfDiagram').css('width').replace('px', '');
            var paddingLeftOfCanvas = $('.itemOfDiagram').css('padding-left').replace('px', '');
            var paddingRightOfCanvas = $('.itemOfDiagram').css('padding-right').replace('px', '');
            var paddingTopOfCanvas = $('.itemOfDiagram').css('padding-top').replace('px', '');
            var paddingBottomOfCanvas = $('.itemOfDiagram').css('padding-bottom').replace('px', '');
            var heightOfCanvas = $('.itemOfDiagram').css('height').replace('px', '');

            var widthOfCanvasNew = widthOfCanvas - paddingLeftOfCanvas - paddingRightOfCanvas + 'px';
            var heightOfCanvasNew = heightOfCanvas - paddingTopOfCanvas - paddingBottomOfCanvas + 'px';



            $('#ChartOfSum').attr('width', widthOfCanvasNew);
            $('#ChartOfSum').attr('height', heightOfCanvasNew);
            $('#ChartOfVisits').attr('width', widthOfCanvasNew);
            $('#ChartOfVisits').attr('height', heightOfCanvasNew);
            $('#ChartOfMML').attr('width', widthOfCanvasNew);
            $('#ChartOfMML').attr('height', heightOfCanvasNew);
            $('#ChartOfToday').attr('width', widthOfCanvasNew);
            $('#ChartOfToday').attr('height', heightOfCanvasNew);
            $('#ChartOfTodayMonth').attr('width', widthOfCanvasNew);
            $('#ChartOfTodayMonth').attr('height', heightOfCanvasNew);
            $('#ChartOfFullMonth').attr('width', widthOfCanvasNew);
            $('#ChartOfFullMonth').attr('height', heightOfCanvasNew);
            $('#ChartOfFull').attr('width', widthOfCanvasNew);
            $('#ChartOfFull').attr('height', heightOfCanvasNew);

            //console.log(widthOfCanvasNew,heightOfCanvasNew);

        }



    </script>
</body>
</html>
<!--  $("#result").load("ajax/test.html");

            $.ajax({
      url: "Dashboard.aspx",
      dataType: "html",
            success: function (data) {
               // alert("Прибыли данные: " + data);
                var html = $(html);
                $("#TextArea1").text(data);
                alert(html.find('input[name="CountOfCostumers"]').val());

               // $('#res-second').text(elem.find('input[name="pass"]').val());  $("#CountOfCostumers").val(
            }
        });-->